{% extends "Core/base.html" %}
{% load static %}
{% block title %}Signin{% endblock %}
{%block content%}
<p class="text-center fs-4 fw-bold"> Sign in </p>
<div class="d-flex flex-wrap justify-content-center mt-4">
	<form method="POST" class="d-flex card rounded-2 text-center p-3 gap-3" style="max-width: 300px;">
		{% csrf_token %}
		<input name="username" class="form-control" placeholder="Username">
		<input name="password" class="form-control" placeholder="Password">
		<button  type="submit" class="bg-success btn">Sign in</button>
	</form>
</div>
{%endblock%}